.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.table {
  margin-top: 16px;
}

.cell {
  border: 1px solid #333;
  padding: 8px;
  width: 40px;
  text-align: center;
}
