.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}

.heading {
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid gray;
  height: 300px;
  padding: 5px;
}
