.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.functions {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

li {
  list-style-type: none;
}

button {
  margin: 2px 10px 2px 10px;
  font-size: 20px;
}

.list {
  border: 1px solid gray;
  border-radius: 10px;
}
