.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  border: 2px solid gray;
  outline: 2px solid black;
  border-radius: 10px;
  outline-offset: 3px;
  width: 20px;
  padding: 10px;
  background-color: slategrey;
}

.sign {
  color: rgba(0, 0, 0, 0.2);
}

.sign.active {
  color: rgba(0, 0, 0, 1);
}
