.App {
  font-family: sans-serif;
  text-align: center;
}

.results-container {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
}
.search-input {
  width: 500px;
  padding: 5px;
}

.result {
  display: block;
  padding: 2px;
}

.result:hover,
.result.highlighted {
  background-color: blanchedalmond;
  cursor: pointer;
}
