.App {
  font-family: sans-serif;
  text-align: center;
}

.job {
  text-align: left;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 5px;
  border-left: 10px solid blue;
}

.jobs {
  display: flex;
  flex-direction: column;
}

.apply {
  float: right;
  background-color: chartreuse;
  border-radius: 5px;
}
