.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.form {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  padding: 30px;
  position: relative;
}

.input_div {
  display: flex;
  flex-direction: column;

  text-align: left;
  margin-bottom: 10px;
}

.cross {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  margin-left: auto;
}

.submit-button {
  padding: 5px;
  background-color: chartreuse;
  color: white;
  border-radius: 5px;
}
