.App {
  font-family: sans-serif;
  text-align: center;
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 37%, #e0e0e0 63%);
  background-size: 250% 100%;
  animation: shimmer 1.4s ease infinite;
  margin: 5px;
}

.user-card {
  border: 1px solid;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
}
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
