.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  width: 200px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.cell.correct {
  background-color: #15fe00;
  color: white;
}

.cell.present {
  background-color: #eff636;
  color: white;
}

.cell.absent {
  background-color: #787c7e;
  color: white;
}
