.App {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.tweet {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.header {
  display: flex;
  height: 50px;
}

.content {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.count {
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10px 5px 10px 5px;
  border-top: 1px solid rgb(209, 208, 208);
  border-bottom: 1px solid rgb(209, 208, 208);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.btn {
  background: none;
  border: none;
}
