.App {
  font-family: sans-serif;
  padding: 0 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.product-card {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  max-height: 200px;
}
